* {
    margin: 0;
    padding: 0;
}


img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}
body {
    font-family: 'Lato', sem serifa;
    background: url("../img/bg1.png") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #565555;
}
.container {
    padding: 0 16px;
}
.titulo {
    font-size: 25px;
    font-weight: normal;
}
.perfil {
    max-width: 452px;
    box-sizing: border-box;
    margin: 0 auto;
}


.box {
    background: #ebc8b2;
    padding: 2rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    text-align: center;
    margin-top: 2rem;
}
.perfil-pic {
    border-radius: 50%;
    margin: 0 auto 1rem auto;
}
.perfil span {
    font-size: 18px;
}
.perfil p {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.make p {
    font-family: Impact;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}
.redes-sociais li {
    margin-right: 1rem;
    margin-left: 1rem;
}
.portifolio {
    max-width: 886px;
    box-sizing: border-box;
}
.portifolio ul{
   margin-top: 1rem;
}

.portifolio li{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    text-align: left;
    gap: 1rem;
    color: #565555;
}
.portifolio li + li {   
    margin-top: 1rem;
}
.portifolio p {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.portifolio img {
    border-radius: 10px;
}
.portifolio h2 {
    font-weight: normal;
    margin-bottom: 1rem;
}
.mp {
    max-width: 886px;
    box-sizing: border-box;
}
 .mp p {
     font-size: 18px;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .mp h2 {
     font-weight: normal;
     margin-bottom: 1rem;
 }
.atendimento p {
    font-size: 18px;
     margin-top: 1rem;
     margin-bottom: 2rem;
}

.copyright {
    font-family: helvetica;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 16px black;
    margin-top: 5vh 0;
    padding-bottom: 50vh;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        background-attachment: initial;
        background-size: contain;
        background-color: #f0e6da;
    }
.box {
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 30px;
    }
.box:first-child {
    padding: 3rem;
    }
.portifolio ul {
    margin-top: 1rem;
    }
.portifolio li {
    grid-template-columns: 1fr;
    justify-items: center;
    }
.portifolio li div {
    max-width: 448px;
    }


.copyright {
    font-size: 18px;
    color: #ffffff
    text-shadow: none;
    margin: 0;
    padding: 4rem 0;
    }
}
