* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
  }
  
  li {
    list-style: none;
  }
  body {
    font-family: 'Lato', sans-serif;
    background: url("../img/bg1.png") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #565555;
  }
  p {text-indent: 1em;
  }
  .container {
    padding: 0 16px;
  }
  .titulo {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
  }
  .perfil {
    max-width: 452px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  .box {
    background: #ebc8b2;
    padding: 3rem;
    box-shadow: 3px 2px 16px rgba(253, 251, 251, 0.16);
    border-radius: 50px;
    margin-top: 3rem;
  }
  .box h2 {
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .perfil-pic {
    border-radius: 50%;
    margin: 0 auto 1rem auto;
  }
  
  .perfil p {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
   
  .redes-sociais {
    display: flex;
    justify-content: center;
  }
  .redes-sociais li {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .portifolio {
    max-width: 855px;
    box-sizing: border-box;
  }
  .portifolio ul{
   margin-top: 1rem;
  }
  
  .portifolio li{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    text-align: left;
    gap: 1rem;
    color: #565555;
  }
  .portifolio li + li {   
    margin-top: 1rem;
  }
  .portifolio p {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .portifolio img {
    border-radius: 20px;
  }
  
  .mp {
    max-width: 886px;
    box-sizing: border-box;
  }
 
  .mp li {
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    list-style-type: disc;
    margin: 0;
    padding: 2px;
  }
  
  .atendimento p {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .atendimento h4 {
    font-size: 14px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin: 0%;
    padding: 2px;
  }
  .topo {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1px;
  }
  
  .copyright {
    font-family: helvetica;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 16px black;
    margin-top: 5vh 0;
    padding-bottom: 50vh;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    body {
    background-attachment: initial;
    background-size: contain;
    background-color: #f0e6da;
    }
  .box {
    box-shadow: 2px 1px 16px #565555;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 30px;
    }
  .box:first-child {
    padding: 2rem;
    }
  .portifolio ul {
    margin-top: 1rem;
    }
  .portifolio li {
    grid-template-columns: 1fr;
    justify-items: center;
    }
  .portifolio li div {
    max-width: 448px;
    }
  
  
  .copyright {
    font-size: 18px;
    color: #ffffff;
    text-shadow: 2px 2px 16px black;
    margin: 0;
    padding: 3rem 0;
    }
  }
  